{% load static i18n%}
<footer class="bg__black pb-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 mb-5 mb-xl-0">
        <div class="logo_footer mb-5">
          <!-- <a class="navbar-brand" href="/accounts/signup">
            <img class="img-fluid" src="{% static 'cryptick/images/logo.webp'%}" alt="">
          </a> -->
        </div>
        <div class="content__footer" style="margin-top:-10% !important">
          <!-- <p class="text__gray font__13">
            {% trans 'Cryptick is a young Canadian startup that want to simplify the calculation of your cryptoassets gains and losses. Our mission is to enable users to calculate their taxes as quickly and as easily as possible.'%}
              </p> -->
        </div>
      </div>
      <div class="col-md-3 mb-5 mb-xl-0">
        <h3 class="text-white text-capitalize mb-5 font__25">{% trans 'Useful links'%}</h3>
        <div class="d-md-flex justify-content-between d-block">
          
        </div>
      </div>


    </div>
  </div>
  <hr class="bg__gray my-5">
  <div class="footer__owner text-center">
    <p class="text__gray">
      ® 2022 FastLine Inc., {% trans 'All rights reserved.'%}
    </p>
  </div>
</footer>
